<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="form-container">
        <h1>Register</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div>
                <p>{{ field.label }}: <br> {{ field }}</p> 
    
                {% for error in field.errors %}
                    <small style="color: red">{{ error }}</small>
                {% endfor %}
            </div>
            {% endfor %}                  
            <button class="btn btn-primary" type="submit">Register</button>
        </form>

    </div>
    <p class="login-link">If you already have an account, <a href="/login">login</a> instead.</p>
</body>
</html>