* {
    font-family: 'Poppins', sans-serif;
    margin-inline: .3em;
    text-decoration: none;
    color: rgb(34, 34, 34);
}

body {
    background-color: aliceblue;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-block: 1em;
}

.header {
    display: flex;
}

.coin-image {
    width: 5em;
    height: 5em;
}

.purchase-button {
    margin-top: 2em;
    text-decoration: none;
    margin-top: 2em;
    background-color: rgb(100, 171, 253);
    color: white;
    border: none;
    padding: 2em;
    padding-block: .5em;
    border-radius: 20px;
}