@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin-inline: .3em;
}

body {
    background-color: aliceblue;
}

.form-container {
    background-color: white;
    padding: 1em;
    padding-bottom: 3em;
    border-radius: 20px;
    margin: 3em;
}

.register-link {
    text-align: center;
}

button {
    background-color: rgb(117, 200, 255);
    color: white;
    border: none;
    padding: 1em;
    padding-block: .5em;
    border-radius: 20px;
}