@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin-inline: .3em;
    text-decoration: none;
    color: rgb(34, 34, 34);
}

body {
    background-color: aliceblue;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-block: 1em;
}

.hero {
    text-align: center;
}

.coins {
    background-color: white;
    padding: 2em;
    padding-inline: 3em;
    color: black;
    margin: .5em;
    border-radius: 20px;
}

#tags {
    width: 100%;

}

.search-bar {
    text-align: center;
    padding: 2em;
}

.coins-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coins:nth-child(5) {
    padding-inline: 2em;
}

.coins:nth-child(6) {
    padding-inline: 2.5em;
}



.coin-image {
    width: 5em;
    height: 5em;
}

.wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-inline: 2em;
    padding-inline: 1.4em;
    border-radius: 20px;
}

.wallet-img {
    width: 1.5em;
    height: 1.5em;
}